 <script src="/static/imagesloaded/imagesloaded.pkgd.min.js"></script>
 <script src="/static/masonry-layout/dist/masonry.pkgd.min.js"></script>
 <script src="/static/script.js"></script>
 </body>
</html>